
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.row{
	width: 750px;
	border: 1px solid lightgray;
	border-radius: 10px;
	margin-top: 30px;
	margin-left: 22%;
}
@media (max-width: 768px){
	.row{
		width: 100%;
		border: none;
		margin-left: 0;
		overflow-x: hidden;
	}
}
.fieldset{
	margin-top: 10px;
	width: 680px;
	height: 50%;
	margin-left: 30px;
}
img{
	width: 75px;
	margin-top: 40px;
}
h1{
	font-weight: normal;
	font-size: 24px;
	padding-top: 5px;
	opacity: 0.9;
	color: #202124;
}
h2{
	font-size: 17px;
	font-weight: normal;
	padding-top: 10px;
	opacity: 0.9;
}
.inputs{
	margin-top: 30px;
}
.name{
	width: 25%;
	height: 35px;
	padding-left: 15px;
	margin-right: 5px;
	font-size: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
@media (max-width: 768px){
	.name{
		width: 58%;
		margin-top: 20px;
	}
}
.username{
	width: 51.5%;
	height: 35px;
	padding-left: 15px;
	font-size: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-top: 25px;
}
@media(max-width: 768px){
	.username{
		width: 58%;
		margin-top: 20px;
	}
}
.gmail{
	display: block;
	margin-left: 255px;
	margin-top: -27px;
	font-size: 15px;
	pointer-events: none;
	opacity: 0.9;
}
@media (max-width: 768px){
	.gmail{
		margin-left: 290px;
	}
}
h3{
	font-size: 12px;
	font-weight: normal;
	padding-top: 15px;
	opacity: 0.7;
}
.password{
	margin-top: 30px;
}
.pwd{
	width: 25%;
	height: 35px;
	padding-left: 15px;
	margin-right: 5px;
	font-size: 15px;
	border: 1px solid lightgray;
	border-radius: 5px;
}
@media (max-width: 768px){
	.pwd{
		width: 58%;
		margin-top: 20px;
	}
}
h4{
	font-size: 12px;
	font-weight: normal;
	padding-left: 15px;
	padding-top: 5px;
	opacity: 0.7;
}
.checkbox{
	
	padding-top: 15px;
}
.text{
	padding-left: 15px;
	font-size: 15px;
	opacity: 0.9;
}
.link{
	
	padding-top: 60px;
	padding-bottom: 50px;
}
.link-1{
	text-decoration: none;
	color: #1a73e8;
	font-size: 13px;
	font-weight: bold;
}
.btn{
	width: 10%;
	height: 35px;
	margin-left: 28%;
	border: none;
	border-radius: 5px;
	background-color: #1a73e8;
	color: #FFFFFF;
}
.image{
	width: 244px;
	height: 244px;
	margin-top: 43%;
}
@media (max-width: 768px){
	.image{
		width: 0;
		height: 0;
		margin-top: 0;
	}
}
.last{
	text-align: center;
	margin-right: 40px;
}
@media (max-width: 768px){
	.last{
		display: none;
		width: 0;
		height: 0;
		margin-top: 0;
	}
}